# App environment
# development | production
NODE_ENV=development

# Database
MONGODB_URI=
POSTGRES_PRISMA_URL=

# NextAuth / Microsoft Azure AD
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=
NEXTAUTH_SECRET=
